
{% extends "main.html" %}


{% block content  %}
<h1 style="font-weight: bold;">Category - <span style="color: darkgreen; font-weight: bold;">{{category}}</span></h2>

<div class="row">
      
      <div class="col-md-8 blog-main">
        
       {% for article in articles  %}
      
       
       
       <div class="blog-post">
        
         <h2 class="blog-post-title"><a href="article/{{article.slug}}"style="text-decoration: none; color: white;">{{article.title}}<a/> </h2>
         <p class="blog-post-meta">{{article.updated_at}} <a href="#">{{article.author}}</a></p>
         
         <p>{{article.short_description}}</p>
        

          {% endfor %}
        </div>
        <!-- /.blog-post -->

      </div>

{% endblock content  %}